@font-face {
  font-family: 'iconfont';  /* project id 1624412 */
  src: url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.eot');
  src: url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.woff') format('woff'),
  url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1624412_ul0ih7d6zng.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuanqia:before {
  content: "\e886";
}

.icon-time_icon:before {
  content: "\e665";
}

.icon-zuojiantou:before {
  content: "\e635";
}

.icon-dizhi:before {
  content: "\e60d";
}

.icon-icon_reply:before {
  content: "\e60a";
}

.icon-keshi_m:before {
  content: "\e664";
}

.icon-Opinion:before {
  content: "\e613";
}

.icon-kecheng:before {
  content: "\e60b";
}

.icon-laoshi:before {
  content: "\e65a";
}

.icon-fenxiang:before {
  content: "\e7a5";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-xiepinglun:before {
  content: "\e611";
}

.icon-shangsanjiaoxing:before {
  content: "\e643";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-jia:before {
  content: "\e621";
}

.icon-shanchu:before {
  content: "\e663";
}

.icon-zanwu:before {
  content: "\e70c";
}

.icon-hua:before {
  content: "\e62c";
}

.icon-iconfontjiantou6:before {
  content: "\e636";
}

.icon-xiaoxixinfengnews2:before {
  content: "\e828";
}

.icon-wode:before {
  content: "\e638";
}

.icon-yuyuehuodong:before {
  content: "\e620";
}

.icon-wodedangxuan:before {
  content: "\e608";
}

.icon-caozuo:before {
  content: "\e62f";
}

.icon-kebiao:before {
  content: "\e7cd";
}

.icon-banji:before {
  content: "\e602";
}

.icon-xuesheng:before {
  content: "\e60e";
}

.icon-tongzhi:before {
  content: "\e60c";
}
.icon-shangpingtongji:before {
  content: "\e6b4";
}
.icon-kechengtongji:before {
  content: "\e601";
}
.icon-xufei:before {
  content: "\e666";
}
.icon-gongzi:before {
  content: "\e604";
}

.icon-gongzuotai:before {
  content: "\e6c1";
}
.icon-pingjia:before {
  content: "\e6a5";
}
